<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Book Reservation</title>

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/booklist.css">
<link rel="stylesheet" href="css/bookedit.css">

</head>
<body>

	<div th:insert="~{header :: menu}"></div>

	<div class="container my-5 p-5" style="border: 1px solid black;">
		<h4 class="text-center">Edit Book Here</h4>
		<form class="form" th:action="@{/save}" method="post"
			th:object="${book}">

			<input type="hidden" name="id" th:value="${book.id}" />
			<div class="mb-3">
				<label for="name" class="form-label">Name </label> <input
					type="text" class="form-control" name="name"
					th:value="${book.name}">
			</div>

			<div class="mb-3">
				<label for="author" class="form-label">Author </label> <input
					type="text" class="form-control" name="author"
					th:value="${book.author}">
			</div>
			<div class="mb-3">
				<label for="price" class="form-label">Price </label> <input
					type="text" class="form-control" name="price"
					th:value="${book.price}">
			</div>

			<button type="submit" class="btn btn2">Submit</button>

		</form>
	</div>


	<div th:insert="~{footer :: bas_page}"></div>

</body>
</html>